<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.wikipedia">
    <application>
        <activity android:name=".page.PageActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- the following lines are merged
                     https://developer.android.com/training/app-links/deep-linking.html
                     so http and https apply to all prefixes-->
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="http" />
                <data android:host="*.wikipedia.org" android:pathPattern="/zh-.*" android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.wikipedia.app_shortcut" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
